@model IEnumerable<WorkersCompany.Models.Trabajador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" class="mb-4" method="get">
    <input type="text" class="buscar-dep" name="buscar" placeholder="Buscador" />
    @*<input type="text" class="buscar-rut" name="buscar" placeholder="Buscar por departamento" />*@
    <button type="submit" value="Buscar">Buscar</button>
    <select name="genero">
        <option value="-1">Filtrar por genero</option>
        <option value="1">Masculino</option>
        <option value="2">Femenino</option>
    </select>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactosEmerg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatosLaborales)
            </th>
            <th>
                Departamento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaFamiliar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactosEmerg.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatosLaborales.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatosLaborales.AreaDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaFamiliar.Rut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
