@model WorkersCompany.Models.CargaFamiliar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CargaFamiliar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
